@charset "utf-8";

$body-font-family: "IBM Plex Sans", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Segoe UI Emoji", "Segoe UI Symbol", "Apple Color Emoji", Roboto, Helvetica, Arial, sans-serif !default;
$code-font-family: "IBM Plex Mono", "Menlo", "Inconsolata", "Consolas", "Roboto Mono", "Ubuntu Mono", "Liberation Mono", "Courier New", monospace;

$serif-font-family: "IBM Plex Serif", "Georgia", "Garamond", "Times New Roman", serif;
$header-font-family: "IBM Plex Mono", "Menlo", "Inconsolata", "Consolas", "Roboto Mono", "Ubuntu Mono", "Liberation Mono", "Courier New", monospace;

$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

// Content
$breakLarge:       992px;
$widthLarge:       88%;
$widthSmaller:     92%;
$spacingUnit:      30px !default;

@import "termina-plex/ibm-plex";
@import "termina-plex/themes";
@import "termina-plex/highlight";

@import "termina-plex/layout/core";
@import "termina-plex/layout/header";
@import "termina-plex/layout/footer";
@import "termina-plex/layout/posts";
@import "termina-plex/layout/social";
@import "termina-plex/layout/toggle";

@import "termina-plex/pages/base";
@import "termina-plex/pages/index";
@import "termina-plex/pages/list";
@import "termina-plex/pages/single";
