@charset "utf-8";

// Pages: Base
.content {
  text-align: center;
  flex: 1 auto;
  display: flex;
  justify-content: center;
}

.content img {
  max-width: 100%;
}

.vertical {
  flex-direction: column;
  align-items: center;
}

.flexWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  flex: 1 auto;

}

.main {
  height: 100%;

  @media only screen and (min-width: $breakLarge) {
    width: $widthLarge;
  }

  @media screen and (max-width: $breakLarge) {
    width: $widthSmaller;
  }
}

body div.content {

  a:link,
  a:active {
    color: var(--link-color);
  }

  a:visited {
    color: var(--link-visited-color);
  }
}

article header h1 {
  font-size: 2rem;
}

.metaTag, .metaCategory {
  display: inline-flex;
  font-family: $header-font-family;
  font-size: 1.2em;
  padding: 0 $spacingUnit * 1.5 $spacingUnit * 0.5 0;
}
