@charset "utf-8";

// Pages: Base
.content {
  text-align: center;
  flex: 1 auto;
  display: flex;
  justify-content: center;
}

.content img {
  max-width: 100%;
}

.vertical {
  flex-direction: column;
  align-items: center;
}

.flexWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  flex: 1 auto;

}

.main {
  height: 100%;

  @media only screen and (min-width: $breakLarge) {
    width: $width;
  }

  @media screen and (max-width: $breakLarge) {
    width: 92%;
  }
}

body div.content {

  a:link,
  a:active,
  a:visited {
    color: var(--link-color);
  }
}

article {
  font-size: #{$base-font-size};
}

article header h1 {
  font-size: 2rem;
}

tt, code, kbd, samp {
  font-family: #{$code-font-family};
}

table {
  border-collapse: collapse;
  padding: initial;
  margin: 0 0 $spacingUnit * 0.875 0;
}

th, tr, td {
  border: 1px solid rgba(127, 127, 127, 0.5);
  padding: $spacingUnit * 0.25 $spacingUnit * 0.375;
  margin: initial;
}
