@charset "utf-8";

// Pages: Index
.indexWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.indexHeader {
  font-size: 3em;
}

.indexHeader .authorPronouns {
  font-style: italic;
  font-size: 50%;
}

.authorPronouns::before {
  content: "("
}

.authorPronouns::after {
  content: ")"
}
