@charset "utf-8";

// Layout: Core
body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: #{$body-font-family};
  font-size: #{$base-font-size};
  font-weight: #{$base-font-weight};
  line-height: #{$base-line-height};
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font-family;
  font-weight: 600;
}

b, strong, th {
  font-weight: 600 !important;
}

article {
  font-size: #{$base-font-size};
}

tt, code, kbd, samp {
  font-family: #{$code-font-family};
}

table {
  border-collapse: collapse;
  padding: initial;
  margin: 0 0 $spacingUnit * 0.875 0;
}

th, tr, td {
  border: 1px solid rgba(127, 127, 127, 0.5);
  padding: $spacingUnit * 0.25 $spacingUnit * 0.375;
  margin: initial;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.clear {
  clear: both;
}

.pagination {
  padding: $spacingUnit * 0.25 0 $spacingUnit * 0.75 0;
  text-align: center;

  .paginationPages {
    clear: both;
    padding-inline-start: 0;

    li {
      list-style-type: none;
      margin: $spacingUnit * 0.25;
      display: inline-flex;

      div {
        min-width: 3em;
        font-size: 120%;
        background-color: var(--header-background-color);
        text-align: center;
        box-sizing: border-box;

        span, a {
          display: block;
          height: 100%;
          width: 100%;
          padding: $spacingUnit * 0.5 0;
          text-decoration: none;
        }
      }

      div.pageLinkActive:hover {
        background-color: rgba(127, 127, 127, 0.25);
      }
    }
  }
}
