@charset "utf-8";

// Layout: Footer
.footer {
  background-color: var(--footer-background-color);
  padding: 15px;
  text-align: center;
  color: var(--text-color);
}

.footerLink {
  color: var(--text-color);
}
