@charset "utf-8";

// Layout: Post
.postInfo {
  margin: 1rem 0 1rem 0;
}

.postDate {
  color: var(--text-color);
}

.postsEntries .postDate {
  float: right;
}

.postTitle {
  text-decoration: none;
  font-family: $header-font-family;
  font-size: 1.2em;
  font-weight: 400;
  float: left;
  width: 75%;
  margin: 0 0 1rem 0;
}

.postTitle.capitalize-title {
  text-transform: capitalize;
}

.postHeader {
  overflow: hidden;
}

.postsList {
  margin-top: 20px;
}

.postListItem {
  padding: 20px;
  background-color: var(--background-color);
  margin-bottom: 20px;
}

.postListLink:hover {
  text-decoration: underline;
}

.postExcerpt {
  text-align: initial;
  text-decoration: none;
  color: var(--text-color);
  clear: both;

  h2 {
    font-size: 1.1rem !important;
    font-weight: 700;
  }

  h3 {
    font-size: 1.05rem !important;
    font-weight: 500;
  }
}

.headerContainer {
  display: flex;
  justify-content: space-between;
}

.noDecoration {
  text-decoration: none;
}

a,
a:link,
a:visited,
a:active {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
